locale/de/LC_MESSAGES/django.po
locale/pl/LC_MESSAGES/django.po
/locale
/infiniti_vacation/__pycache__
/infiniti_vacation/__pycache__
infiniti_vacation/__pycache__/models.cpython-312.pyc
infiniti_vacation/__pycache__/models.cpython-312.pyc
