{% extends "admin/base_site.html" %}
{% load i18n %}

{% block nav-global %}
  <form action="{% url 'set_language' %}" method="post" style="display:inline-flex; gap:8px; align-items:center; margin-left:12px;">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">

    <button type="submit" name="language" value="en" class="button">EN</button>
    <button type="submit" name="language" value="de" class="button">DE</button>
    <button type="submit" name="language" value="ru" class="button">RUS</button>
    <button type="submit" name="language" value="pl" class="button">PL</button>
  </form>

  {{ block.super }}
{% endblock %}
